.contact{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}
.contact li{
    list-style-type: none;
}
@media screen and (max-width: 760px) {
    .contact{
        flex-wrap: wrap;
        padding: 0;
    }
}