.caroucel{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 60vh;
}

.caroucel button{
  height: 15%;
  width: 10%;
  box-shadow: 0px 0px 2px rgb(23, 80, 129), 2px 3px 2px rgb(2, 2, 2);
}

.card-container{
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 60vh;
  gap: 30px 2%;
  justify-content: center;
}

.card {
    width:100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #160b12;
    border-radius: 25px;
    box-shadow: 0px 0px 2px rgb(23, 80, 129), 2px 3px 2px rgb(2, 2, 2);
  }

.card-heading {
    background: rgb(23, 80, 129);
    color: black;
    padding: 8px 20px 10px 20px;
    font-weight: bold;
    border-radius: 23px 23px 0 0;
  }
  
.card-content {
  width: 100%;
  background-color: rgba(48, 103, 152, 0.923);
  }

.card-description{
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 8px;
  }

  .card-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
  }
  

@media screen and (max-width: 992px) {

  .card-container{
  grid-template-columns: 95%;
  grid-template-rows: 60vh;
    }
  .card2{
    display: none;
    }
  }
